body {
	font-size: 20px;
	font-family: 'Play', sans-serif;
	line-height: 1;
	color: #3C477B;
}
.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.clear { clear: both; }
.button {
	display: inline-block;
	padding: 18px 7px;
	margin: 0 0 20px;
	border-radius: 60px;
	background: #eee;
	cursor: pointer;
	text-align: center;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,1);
	box-shadow: inset 0 0 1px 0px rgba(0,0,0,0.3);

	background: -moz-linear-gradient(-45deg, #fcf6fd 15%, #f9f321 17%, #f54f14 41%, #d34066 69%, #475389 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(15%,#fcf6fd), color-stop(17%,#f9f321), color-stop(41%,#f54f14), color-stop(69%,#d34066), color-stop(85%,#475389)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #fcf6fd 15%,#f9f321 17%,#f54f14 41%,#d34066 69%,#475389 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #fcf6fd 15%,#f9f321 17%,#f54f14 41%,#d34066 69%,#475389 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #fcf6fd 15%,#f9f321 17%,#f54f14 41%,#d34066 69%,#475389 85%); /* IE10+ */
	background: linear-gradient(135deg, #fcf6fd 15%,#f9f321 17%,#f54f14 41%,#d34066 69%,#475389 85%); /* W3C */
}
.button + .button { margin-left: 10px; }

.button:hover,
a:hover { opacity: 0.8; }

.header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header__logo {
	display: block;
	clear: both;
}
}
.header__title {
	padding: 0 0 0 100px;
	margin: 0 0 20px;
	min-height: 74px;
	background: url(../images/header_idea.png) no-repeat left center;
	font-size: 35px;
	line-height: 1;
	color: #555;
	font-weight: bold;
}


ul, li {
	display: block;
	list-style-type: none;
	margin: 0; padding: 0;
}

.toggle {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.toggle__content {
	display: none;
}

.videos__show {
	padding: 2px 0;
}
.videos__seasons {
	padding-bottom: 20px;
}
.videos__season {
}
.videos__episodes {
	padding-bottom: 20px;
}
.videos__episode {
	cursor: pointer;
}
.videos__episode--watched {
	opacity: 0.5;
}